<form>
  <fieldset>
    <div class="row mb-3">
    <legend class="col-12 text-center"><%= _('Please supply the following information') %></legend>
    </div>
    <%= render_portal_partial 'survey_questions_fields' %>
  </fieldset>
</form>
